html
{
  cursor: url("../Immagini/cursor.png"), auto;
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;
  overflow: auto;
}

body
{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: Ubuntu, sans-serif;
}

nav a #logo
{
  float: left;
  margin-top: -6px;
}

nav
{
  top: 0;
  overflow: hidden;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100px;
  font-family: Ubuntu, sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  transition: 0.4s;
  z-index: 10;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
}

nav ul
{
  float: left;
  width: 100%;
  margin-top: 35px;
}

nav li
{
  display: inline;
  margin-right: 45px;
}

nav li a
{
  color: #26555D;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

nav li a:hover, a:active
{
  cursor: url("../Immagini/cursorPointer.png"), auto;
  color: #cc3333;
  transition: all .3s ease-in-out;
}

nav ul a .loginlogo:hover
{
  transform: translateY(-4px);
  -webkit-transition: all color 0.5s linear ease-in-out;
}

.login
{
  float: right;
  text-align: right;
  margin-top: -10px;
}

.loginlogo
{
  margin-right: 30px;
}

.footer
{
  background-color: #F1F9FF;
  height: 100px;
  width:100%;
}

.footer p
{
  padding-top: 40px;
  padding-left: 50px;
  margin: 0;
  position: absolute;
}

.footer a
{
  display: inline-block;
  float: right;
  position: relative;
  top: 56px;
}

.footer a:hover
{
  transform: translateY(-4px);
  -webkit-transition: all color .5s linear ease-in-out;
  transition-timing-function: ease-in-out;
}

.icon
{
  float: right;
  margin-right: 35px;
  position: relative;
  bottom: 25px;
}
